<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<form action="#" method="post" th:action="@{/product/save}" th:object="${product}">

 Brand Id:</br>
  <input type="text" th:field="*{branId}">
  </br>
  
  Name:</br>
  <input type="text" th:field="*{name}" />
  </br>
  
  Price:</br>
  <input type="text" th:field="*{price}" />
  </br>
  
  Type:</br>
  <input type="text" th:field="*{type}" />
  </br>
  
  </br>
  <input type="submit" value="Save" />
</form> 

</body>
</html>