<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<table>
	  <tr>
	    <th>ID</th>
	    <th>Name</th>
	    <th>Product Type</th>
	    <th>Edit</th>
	    <th>Delete</th>
	  </tr>
	  <tr th:each="brand : ${listBrand}">
	  	<td th:text="${brand.id}"></td>
	  	<td th:text="${brand.name}"></td>
	  	<td th:text="${brand.product_type}"></td>
	  	<td> <a href="#" th:href="@{/brand/edit/} +${brand.id}">Edit</a></td>
		<td> <a href="#" th:href="@{/brand/delete/} +${brand.id}">Delete</a></td>

</body>
</html>