<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1"></meta>
<title>List Product</title>
</head>
<body>

	<table style="width:100%">
  <tr>
    <th>Id Product</th>
    <th>Brand Id</th>
    <th>Name</th>
    <th>Price</th>
    <th>Type</th>
  </tr>
  <tr th:each="product : ${listProduct}">
  <td th:text="${product.id}"></td>
  <td th:text="${product.branId}"></td>
  <td th:text="${product.name}"></td>
  <td th:text="${product.price}"></td>
  <td th:text="${product.type}"></td>
  </tr>
  
</table>
	

</body>
</html>